*{
    padding: 0;
    margin: 0;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}



.room{
    width: 500px;
    height: 300px;
    border: 1px solid #ddd;
    margin: auto;
}

.table{
    color: white;
    background-color: yellowgreen;
    width: 50%;
    height: 200px;
    float: left;
}
.chare{
    color: white;
    background-color: greenyellow;
    width: 50%;
    height: 200px;
    float: right;
}


.room2{
    width: 500px;
    height: 300px;
    border: 1px solid #ddd;
    margin: auto; 
}

.table2{
    color: white;
    background-color: lightcoral;
    width: 33.3%;
    height: 200px;
    float: left;
}
.chare2{
    color: white;
    background-color: rebeccapurple;
    width: 33.3%;
    height: 200px;
    float: left;
}
.balis2{
    color: white;
    background-color: yellow;
    width: 33.3%;
    height: 200px;
    float: left;
}








.header-menu .header-logo{
    width: 30%;
    float: left;
    background-color: #00d9ff;
    text-align: center;
    padding: 2px 0;
}

.header-menu .header-logo img{
    width: 50px;
}


.header-menu{
    
}
.header-link{
    width: 70%;
    float: right;
}
.header-menu .header-link ul{
    background-color: #00d9ff;
    text-align: center;
}
.header-menu .header-link ul li{
    display: inline-block;
    border-right: 1px solid white;
    margin-left: -4px;
}
.header-menu .header-link ul li:first-child{
     border-left: 1px solid white;
}
.header-menu .header-link ul li a{
    display: inline-block;
    color: white;
    padding: 20px 20px;
    text-decoration: none; 
}

.header-menu .header-link ul li:hover > a{
    background-color: rgb(14, 142, 159);
}

/* dropdown item */
.header-menu .header-link ul li ul li:first-child{
    border-left: none;
}
.header-menu .header-link ul li{
    position: relative;
}
.header-menu .header-link ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    visibility: hidden;
    opacity: 0;
    background-color: #00d9ff;
    color: white;
    transition: .5s;
    transform: scaleY(0);
    transform-origin: top center;
}
.header-menu .header-link ul li ul li{
    display: block;
    border-right: none;
    margin-left: 0;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #ddd;
}
.header-menu ul li ul li:first{
    border-left: none;
}
.header-menu .header-link ul li ul li a{
    display: block;
}


/* dropdown effets */

.header-menu .header-link ul li:hover ul{
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}







/* slider menu */

.slider-menu{

}
.slider-menu h2{
    text-align:  center;
    padding:200px 0;
    color: white;
    background-image: url(./download.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}






.c-header h2{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}

.container{

}
.container .c-img img{
    border-radius: 10px;
    float: left;
    margin-right: 10px;
}



.container2{

}
.c2-text h2{
    text-align: center;
    font: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.container2 .web1{
    width: 32.6%;
    border: 1px solid black;
    float: left;
    margin: 2px;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}


.container3{
   margin-top: 17px;
}

.container3 .c3-text{
    width: 70%;
    float: left;
}
.container3 .c3-text h2{
    margin-bottom: 10px;
    font-weight: 600;
}

.container3 .c3-rules{
    width: 30%;
    float: right;
}
.container3 .c3-rules h2{
    margin-bottom: 10px;
}
.container3 .c3-rules ul{}
.container3 .c3-rules ul li{
    padding: 7px 0;
}

.footer{
    background-color: #2a1c13;
}
.footer p{
    color: white;
    text-align: center;
    font-size: 10px;
}